.container {
    padding: 40px;
    min-height: 65vh;
    max-width: 100%;
}

/* .form-submit-button {
    margin-right: 2vw;
} */

.forgot {
    float: right;
}

.login-form-button{
    width: 100%
}
